@import "reset";
@import "variables";
@import "typography";

html,
body {
	position: relative;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.burger {
	display: none;
	width: 1.5em;
	height: 1.5em;
	background-image: url("/images/icon-hamburger.svg");
	background-repeat: no-repeat;
	cursor: pointer;
	transition: background-image 0.2s ease-in-out;
	margin-right: 3em;
	@media all and (max-width: $mobile-view) {
		display: block;
	}
}

.logo {
	margin-right: 5em;

	@media all and (max-width: $mobile-view) {
		position: absolute;
		left: 50%;
		transform: translateX(-88%);
	}
}

nav {
	display: flex;
	position: fixed;
	z-index: 2;
	padding: 5em;
	ul {
		display: flex;
		align-items: center;
	}
	li {
		text-transform: lowercase;
		margin-right: 2.5em;
		color: $white;
		position: relative;
		cursor: pointer;
		&:last-child {
			margin-right: 0;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			bottom: -0.5em;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 2px;
			background-color: $white;
			transition: width 0.2s ease-in-out;
		}

		&:hover {
			&:after {
				width: 1.5em;
			}
		}
	}

	@media all and (max-width: $mobile-view) {
		padding: 4em 2em;
		width: 100%;

		ul {
			position: relative;
			left: -100%;
			opacity: 0;
			transition: all 0.5s ease-in-out;
		}
	}

	&.opened-mobile-menu {
		background-color: $white;
		.burger {
			background-image: url("/images/icon-close.svg");
		}
		ul {
			left: 0;
			opacity: 1;
		}
		li {
			color: $black;
			font-weight: 700;
		}
	}
}

.swiper {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		display: block;
		width: 60%;
		height: 100%;
		object-fit: cover;
	}
	@media all and (max-width: $mobile-view) {
		flex-wrap: wrap;

		img {
			width: 100%;
			height: 38vh;
			object-position: 12%;
		}
	}
}
.swiper-slide_content {
	padding: 0 5em 4em 8.5em;
	width: 40%;

	p {
		margin-bottom: 3em;
	}
	a {
		text-transform: uppercase;
		text-decoration: none;
		color: $black;
		letter-spacing: 0.8em;
		position: relative;
		transition: opacity 0.2s ease-in-out;
		&::after {
			content: "";
			width: 4em;
			height: 2em;
			position: absolute;
			top: 0;
			right: -7em;
			background-image: url("/images/icon-arrow.svg");
			background-repeat: no-repeat;
		}
		&:hover {
			opacity: 0.5;
		}
	}

	@media all and (max-width: $mobile-view) {
		width: 100%;
		padding: 5.5em 2.5em;
	}
}
.swiper-button-next,
.swiper-button-prev {
	top: initial;
	bottom: 0;
	background-color: $black;
	display: flex;
	padding: 1.5em 2.2em;
	transition: background-color 0.2s ease-in-out;
	&:after {
		content: "";
		background-repeat: no-repeat;
		background-position: center;
		width: 0.5em;
		height: 0.5em;
		background-size: cover;
	}
	&:hover {
		background-color: $very-dark-grey;
	}

	@media all and (max-width: $mobile-view) {
		padding: 0.6em 1.25em;
		top: 34.1vh;
		&:after {
			width: 0.35em;
			height: 0.35em;
		}
	}
}
.swiper-button-next {
	right: auto;
	left: calc(60% + 6.65em);
	&::after {
		background-image: url("/images/icon-angle-right.svg");
	}
	@media all and (max-width: $mobile-view) {
		left: initial;
		right: 0;
	}
}
.swiper-button-prev {
	left: 60%;
	&::after {
		background-image: url("/images/icon-angle-left.svg");
	}
	@media all and (max-width: $mobile-view) {
		left: initial;
		right: 4.75em;
	}
}

.about {
	display: flex;
	@media all and (max-width: $mobile-view) {
		flex-wrap: wrap;
	}
}
.about_content {
	padding: 6em 4em;
}

footer {
	background-color: $black;
	text-align: center;
	padding: 2em;
	p {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		color: $white;
	}
}
